<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dds.pyworkflow</string>
	<key>connections</key>
	<dict>
		<key>F4332B51-6243-4996-A3D4-58FDBBE48146</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD821EAE-6AB1-4ED9-8BE6-A8195E0F8470</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dds</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>py</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD821EAE-6AB1-4ED9-8BE6-A8195E0F8470</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>ppp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>py.....</string>
				<key>script</key>
				<string># -*- coding: utf-8 -*-
from workflow import web, Workflow, ICON_WEB
from bs4 import BeautifulSoup
import sys


def m(wf):
    r = web.get('http://www.wangpansou.cn/s.php?wp=0&amp;ty=gn&amp;op=gn&amp;q=python&amp;q=php')
    res = BeautifulSoup(r.content, "lxml")
    for item in res.find_all("a", class_="cse-search-result_content_item_top_a"):
        wf.add_item(title=item.text.encode('utf-8').strip(),
                    subtitle=item.attrs['href'],
                    icon=ICON_WEB)

    wf.send_feedback()
    wf.run()

if __name__ == '__main__':
    wf = Workflow()
    sys.exit(wf.run(m))</string>
				<key>subtext</key>
				<string>py</string>
				<key>title</key>
				<string>py</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4332B51-6243-4996-A3D4-58FDBBE48146</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>BD821EAE-6AB1-4ED9-8BE6-A8195E0F8470</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F4332B51-6243-4996-A3D4-58FDBBE48146</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
